.form-title {
  font-size: 32px;
  text-align: center;
  margin: 8px 0 22px;
}

.form-wrap {
  padding: 18px 0 22px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 8px 0 15px;
  width: 100%;

  label {
    font-size: 18px;
    margin-bottom: 4px;
  }

  input, textarea {
    width: 100%;
    font-size: 14px;
    padding: 8px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #111;

    &:focus {
      border-color: #111;
    }

    &.error {
      border-color: #ff0000;
    }
  }

  .form-error {
    margin-top: 8px;
    color: #ff0000;
  }

  .edit-photo {
    width: 330px;
    height: auto;
  }
}

.delete-form {
  margin-top: 22px;
  padding-top: 22px;
  border-top: 1px solid #ccc;
}